{% extends 'base.html' %}

{% block content %}
<div class="container-fluid py-3">
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">404 Not Found</h4>
        <p>We're sorry! We could not find the desired document. Please, search it again.</p>
        <hr>
        <p class="mb-0">In case you tried to search the document by introducing the ID directly to the URL: this method is not supported. You can search by DOI, PubMed ID or ISBN/ISSN on our advanced searcher.</p>
    </div>
</div>
{% endblock %}