/* .errorlist{
    color: red;
} */
.hidden {
    display: none;
}
.asteriskField {
    display: none;
}
.linea {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
}
hr.between_forms {
    margin-top: 0px;
}